
{% extends 'users/base.html' %}
{% block content %}
    <form action="{% url 'users_list' %}" method="post">
        {% csrf_token %}
    <div style="text-align: center; padding: 2%;" class="container">
        <h1>Cadastro de Usuários</h1>
        <label>Nome</label>
        <input name="name" class="form-control-sm" type="text">
        <label>Idade</label>
        <input name="age" class="form-control-sm" type="number">
        <button class="form-control-sm">Registrar</button>

    </div>

</form>
{% endblock %}

   